/* Notification Bar */

.flexRow--top {
    max-width: 100%;
    background-color: #e3e6e8;
  }


/*Header Row*/

.flexRowContent--main-header-desktop{
    width: 100%;
    height: 72px
}

/*Banner Row*/

.flexColChild--two-banner-column{
    margin-left: 0.75rem;
}